body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.avatar {
    width: 150px;
    border: 1px solid #07004d;
    border-radius: 50px;
}

@keyframes new-jersey-devil {

  0%   {background-color: white;}
  25%  {background-color: black;}
  50%  {background-color: yellow;}
  75% {background-color: white;}
  100% {background-color: black;}  
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #99d5c9;
    color: white;
    border-bottom: 6px solid #07004d;
    border-radius: 10px;
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
    animation-name: new-jersey-devil;
    animation-duration: 20s;
     
}

#textshadow {
    text-shadow: 0px 0px 1px black;
}



/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

